<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/config:: configFragment">
<meta charset="utf-8">
</head>
<body>
	<nav th:replace="fragments/header:: headFragment"></nav>
	<br>
	<div class="container">
		<div class="form-group">
		<h5 th:if="${user.oauth} != null" align="center">카카오 로그인 유저는 회원정보를 수정하실 수 없습니다.</h5>
		</div>
		<div class="form-group">
			<label for="Username">Username</label> <input type="text" th:value="${#authentication.name}" class="form-control" id="username" readonly>
		</div>

		<div class="form-group">
			<label for="password">Password</label> <input type="password" th:attr="disabled=${user.oauth} != null" class="form-control" placeholder="Enter password" id="password">
		</div>

		<div class="form-group">
			<label for="email">Email</label> <input type="email" th:attr="readonly=${user.oauth} != null" th:value="${user.email}" class="form-control" placeholder="Enter email" id="email">
		</div>
		<button id="btn-save" th:attr="disabled=${user.oauth} != null" type="button" th:onclick="|updateUser(${user.id})|" class="btn btn-primary">수정</button>
	</div>
	<footer th:replace="fragments/footer:: footFragment"></footer>

	<script type="text/javascript" src="/js/user.js"></script>
</body>
</html>


